body {
	font-family: 'Lato', sans-serif !importantf;
	color: #24373D;
	background-color: rgb(227, 228, 250);
	font-weight: 300;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px
}

.text-muted {
	color: #BCBBBB;

}

.text.thin {
	font-weight: 100;
}


#spider-logo, #quiz-photo {

	margin-left:5px;
	margin:20px;
	border: 4px solid rgb(0, 0, 0);
	padding:5px

}

#result {
	color: #000000;
	font-weight: bold;
	font-size: 25px;
}

.footer {
	color:#000000;
	font-family: cursive, monospace;
	margin-right:50px;
}


