body {
	font-family: 'Lato', sans-serif !important;
	color: #24373D;
	background-color: #F8F9FE;
	font-weight: 300;

	.row {
		margin-top: 30px;
		margin-bottom: 30px
	}

	.text-muted {
		color: #BCBBBB;

	}

	.text.thin {
		font-weight: 200;
	}


	#spider-logo, #quiz-photo {
		margin-left:5px;
		margin:20px;
		padding:5px
	}

	#result {
		color: #000000;
		font-weight: bold;
		font-size: 25px;
	}

	a {
		color: #211f24;
	}
	
	.footer {
		color:#000000;
		margin-right:50px;
	}
}